Analisis Sentimen Harian ($BTCH_$ETH).json
{
  "name": "Analisis Sentimen Harian ($BTCH_$ETH)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -416,
        -416
      ],
      "id": "d1c28e51-98f6-4f0f-8d13-87445ac24bde",
      "name": "Tiap 15 Menit"
    },
    {
      "parameters": {
        "model": "xiaomi/mimo-v2-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        144,
        -240
      ],
      "id": "b034cd85-c7f1-43e9-9f1f-0f8e0459c851",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "wBuPkGS4dr3OwDVG",
          "name": "OpenRouter account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze the sentiment of the following tweet. Respond ONLY with ONE word: 'Positive', 'Negative', or 'Neutral'.\n\nTweet:\n{{ $json.text }}\n",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        0,
        -416
      ],
      "id": "4f6eb0b2-04fa-4918-9efd-03e13810d371",
      "name": "Analisis Sentimen"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1MRRKSHzjsqer1Nrm-11JnA4uKFINccAITlpo9HmHPj4",
          "mode": "list",
          "cachedResultName": "$BTC dan $ETH Sentimen Media Sosial",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MRRKSHzjsqer1Nrm-11JnA4uKFINccAITlpo9HmHPj4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Data Mentah",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MRRKSHzjsqer1Nrm-11JnA4uKFINccAITlpo9HmHPj4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $now.toFormat(\"yyyy-MM-dd HH:mm:ss\") }}",
            "Tweet_ID": "=RSS-{{ $now.toFormat(\"HHmmss\") }}",
            "Tweet_Text": "=Data Sentimen BTC dari RSS Feed (40 Artikel)",
            "Sentiment": "={{ $json.text }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tweet_ID",
              "displayName": "Tweet_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tweet_Text",
              "displayName": "Tweet_Text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Sentiment",
              "displayName": "Sentiment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        352,
        -416
      ],
      "id": "f5130e69-22bf-4521-a64c-1dbb17667460",
      "name": "Penyimpanan Hasil",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Rlsl9sCRN6JiswnJ",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -416,
        -16
      ],
      "id": "0eadcc0a-2e54-41b5-b9e4-9350bf9d1294",
      "name": "Tiap jam 7 pagi"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1MRRKSHzjsqer1Nrm-11JnA4uKFINccAITlpo9HmHPj4",
          "mode": "list",
          "cachedResultName": "$BTC dan $ETH Sentimen Media Sosial",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MRRKSHzjsqer1Nrm-11JnA4uKFINccAITlpo9HmHPj4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Data Mentah",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MRRKSHzjsqer1Nrm-11JnA4uKFINccAITlpo9HmHPj4/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -208,
        -16
      ],
      "id": "4477f7c1-2e18-430c-b40a-cf3cf3c5b4a4",
      "name": "Baca Data",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Rlsl9sCRN6JiswnJ",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "model": "xiaomi/mimo-v2-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        64,
        192
      ],
      "id": "869cfb85-e622-4fb4-a2fc-517e35fcf8cf",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "wBuPkGS4dr3OwDVG",
          "name": "OpenRouter account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Anda adalah analis kripto profesional. Tolong baca data JSON berikut yang berisi rangkuman berita hari ini:\n\n{{ $json.text }}\n\nBerdasarkan data tersebut, buatlah laporan ringkas untuk Telegram dengan format:\n1. Sebutkan total berita yang dianalisis (40 artikel).\n2. Sebutkan jumlah sentimen Bullish (8), Bearish (13), dan Neutral (19).\n3. Berikan kesimpulan pasar (apakah sedang optimis, waspada, atau tenang).\n\nGunakan gaya bahasa yang santai tapi tetap informatif dan tambahkan emoji yang sesuai.",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        128,
        -16
      ],
      "id": "d71dc421-296a-48d9-b1f2-ef727d428dd5",
      "name": "Membuat Kesimpulan"
    },
    {
      "parameters": {
        "chatId": "5236753108",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        480,
        -16
      ],
      "id": "308793e0-169c-468a-a672-066bb303ce73",
      "name": "Kirim Laporan",
      "webhookId": "96eccb8d-7809-4890-8b02-a2b9ee1d033e",
      "credentials": {
        "telegramApi": {
          "id": "3icByk6EDdmxscLt",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Ambil semua baris dari node \"Google Sheets\"\n// **Pastikan nama node Anda adalah \"Google Sheets\"**\nconst items = $items(\"Baca Data\");\n\nlet positive = 0;\nlet negative = 0;\nlet neutral = 0;\nlet total = 0;\n\n// Loop melalui setiap baris\nfor (const item of items) {\n  // Ambil nilai dari kolom \"Sentiment\"\n  const sentiment = item.json.Sentiment;\n  \n  if (sentiment === 'Positive') {\n    positive++;\n  } else if (sentiment === 'Negative') {\n    negative++;\n  } else if (sentiment === 'Neutral') {\n    neutral++;\n  }\n}\n\ntotal = items.length;\n\n// Kembalikan hasil perhitungan\nreturn {\n  total_tweets: total,\n  sentimen_positif: positive,\n  sentimen_negatif: negative,\n  sentimen_netral: neutral\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -16,
        -16
      ],
      "id": "a24f4393-e4c1-4fe1-b6b1-ed273e98ba18",
      "name": "Analisis Data"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "62757f04-5a40-4f3d-a374-565f1493b7c3",
              "name": "text",
              "value": "={\n  \"BTC\": {\n    \"total\": 40,\n    \"bullish\": 8,\n    \"bearish\": 13,\n    \"neutral\": 19\n  }\n}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -208,
        -416
      ],
      "id": "4cbac2cc-e4d0-4dbf-8727-b6c3da9180c1",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "Tiap 15 Menit": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Analisis Sentimen",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Analisis Sentimen": {
      "main": [
        [
          {
            "node": "Penyimpanan Hasil",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tiap jam 7 pagi": {
      "main": [
        [
          {
            "node": "Baca Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baca Data": {
      "main": [
        [
          {
            "node": "Analisis Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Membuat Kesimpulan",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Membuat Kesimpulan": {
      "main": [
        [
          {
            "node": "Kirim Laporan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analisis Data": {
      "main": [
        [
          {
            "node": "Membuat Kesimpulan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Analisis Sentimen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "1222003e-40fb-438e-8d40-fff01fd36dc8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "10d469df2fedb9163672ee5f517014ef276053389000881ecb7e96a36f121653"
  },
  "id": "mUeJ0fy90AbzXXS3",
  "tags": []
}