Auto Generated Interview Question.json
{
  "name": "Auto Generated Interview Question",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -720,
        -512
      ],
      "id": "6265db73-d738-4339-ba27-14736dffe5c5",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      id: 101,\n      candidate_name: \"Budi Santoso\",\n      email: \"budi.devops@email.test\",\n      position: \"Senior DevOps Engineer\",\n      claimed_skills: \"Kubernetes, Helm, Terraform\",\n      past_company_type: \"Agensi Digital Marketing (Non-Tech Product)\",\n      years_experience: 3,\n      interview_status: \"Scheduled\"\n    }\n  },\n  {\n    json: {\n      id: 102,\n      candidate_name: \"Siti Aminah\",\n      email: \"siti.backend@email.test\",\n      position: \"Backend Engineer\",\n      claimed_skills: \"Microservices, Kubernetes, GoLang\",\n      past_company_type: \"Bank Konvensional (Legacy System)\",\n      years_experience: 5,\n      interview_status: \"Scheduled\"\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -512,
        -512
      ],
      "id": "a809bf25-1c71-4864-a9bd-3bcbe51d10b1",
      "name": "Data Dummy"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -304,
        -512
      ],
      "id": "1a272547-d328-4ea3-82b6-0abf3dbc2a49",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "jsCode": "for (const item of items) {\n  const candidate = item.json;\n  const role = candidate.position || \"Software Engineer\";\n  const skills = candidate.claimed_skills;\n  const background = candidate.past_company_type;\n  \n  const systemPrompt = `\n  Role: You are a Senior Technical Interviewer for a ${role} position. \n  Your goal is to validate the technical depth of a candidate named ${candidate.candidate_name}.\n  \n  CONTEXT:\n  The candidate claims expertise in: ${skills}.\n  However, their background is from: ${background}.\n  \n  TASK:\n  Generate 5 advanced technical interview questions (Studi Kasus) to verify if they truly understand the internal workings of the tech stack or just surface-level knowledge.\n  Focus on troubleshooting scenarios and architectural trade-offs.\n  \n  IMPORTANT: \n  - The questions must be challenging but professional.\n  - Provide the output in INDONESIAN language.\n  \n  OUTPUT FORMAT (Markdown):\n  1. **Topik**: [Nama Topik]\n     - **Pertanyaan**: [Studi Kasus Spesifik]\n     - **Ekspektasi Jawaban Senior**: [Poin Kunci]\n  `;\n\n  item.json.llm_prompt = systemPrompt;\n}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -48,
        -496
      ],
      "id": "89a52d50-afc4-42e8-a9bb-4a65e07d01b1",
      "name": "Prompt Builder"
    },
    {
      "parameters": {
        "jsCode": "const aiQuestion = items[0].json.text; \n\n\nconst candidateName = $('Loop Over Items').item.json.candidate_name;\n\nlet mockAnswer = \"\";\n\nif (candidateName.includes(\"Budi\")) {\n  mockAnswer = \"Untuk masalah CrashLoopBackOff, saya akan cek logs pod pakai kubectl logs, lalu describe pod untuk lihat events. Biasanya karena configmap salah atau app panic saat startup.\";\n} else {\n  mockAnswer = \"Saya biasanya restart servernya pak. Kalau masih error saya install ulang Kubernetesnya.\";\n}\n\nreturn [\n  {\n    json: {\n      question: aiQuestion,\n      candidate_answer: mockAnswer,\n      candidate_name: candidateName\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        -96
      ],
      "id": "0c205db9-ac3d-49a5-865d-73dc15b21ea0",
      "name": "Mock Jawaban"
    },
    {
      "parameters": {
        "jsCode": "const data = items[0].json;\n\nconst prompt = `\nROLE: You are a Senior Hiring Manager.\nTASK: Evaluate the candidate's answer based on the technical question provided.\n\nDATA:\n- Candidate Name: ${data.candidate_name}\n- Question Given: \"${data.question.substring(0, 200)}...\" (Truncated for brevity)\n- Candidate Answer: \"${data.candidate_answer}\"\n\nINSTRUCTION:\nGive a score (0-100) and a brief critique.\n- If the answer shows deep troubleshooting steps (logs, events, root cause), give HIGH score.\n- If the answer is generic (restart server, reinstall), give LOW score (Red Flag).\n\nOUTPUT FORMAT (Indonesian):\n**Penilaian untuk ${data.candidate_name}**\n--------------------------\n🎯 **Skor:** [0-100]\n💡 **Analisa:** [Penjelasan singkat 1 kalimat]\n🚫 **Keputusan:** [LOLOS / GAGAL]\n`;\n\nreturn [\n  {\n    json: {\n      eval_prompt: prompt\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        -96
      ],
      "id": "6eeae91b-0b9d-43d1-8849-6eebddc3bf62",
      "name": "Evaluator"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.eval_prompt }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        784,
        -96
      ],
      "id": "23d40fd1-eac4-4190-b740-9eef9a1502f3",
      "name": "Evaluator Prompt"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.llm-prompt }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        192,
        -496
      ],
      "id": "f7640185-cd24-4a9a-9d2a-7b5fbf128f17",
      "name": "Generate Pertanyaan"
    },
    {
      "parameters": {
        "chatId": "5236753108",
        "text": "=Nama Kandidat: {{ $('Data Dummy').item.json.candidate_name }}\n{{ $json.text }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        608,
        -496
      ],
      "id": "312f88c9-ff5d-4be1-b7a9-69cb651320a8",
      "name": "Kirim Hasil Pertanyaan",
      "webhookId": "1fa746f2-69e0-4e17-8c49-48eabfae9494",
      "credentials": {
        "telegramApi": {
          "id": "3icByk6EDdmxscLt",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "5236753108",
        "text": "=Nama Kandidat: {{ $('Data Dummy').item.json.candidate_name }}\n{{ $json.text }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1136,
        -96
      ],
      "id": "9fdeeeef-917f-4427-9d6a-a4bb4b794c73",
      "name": "Kirim Hasil Evaluator",
      "webhookId": "30ed8d0f-b98b-40e8-94ce-6e1e38b1dd53",
      "credentials": {
        "telegramApi": {
          "id": "3icByk6EDdmxscLt",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "model": "xiaomi/mimo-v2-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        784,
        -384
      ],
      "id": "81b0a690-6bae-4d80-bbeb-eaaed7b41771",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "wBuPkGS4dr3OwDVG",
          "name": "OpenRouter account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Data Dummy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Dummy": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Prompt Builder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prompt Builder": {
      "main": [
        [
          {
            "node": "Generate Pertanyaan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mock Jawaban": {
      "main": [
        [
          {
            "node": "Evaluator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluator": {
      "main": [
        [
          {
            "node": "Evaluator Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Pertanyaan": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          },
          {
            "node": "Kirim Hasil Pertanyaan",
            "type": "main",
            "index": 0
          },
          {
            "node": "Mock Jawaban",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluator Prompt": {
      "main": [
        [
          {
            "node": "Kirim Hasil Evaluator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Pertanyaan",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Evaluator Prompt",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "309fc448-d836-48e0-8e74-6650ddcdc519",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "10d469df2fedb9163672ee5f517014ef276053389000881ecb7e96a36f121653"
  },
  "id": "Nx4xPFOpCZoHJCDx",
  "tags": []
}