Auto Posting Scheduler.json
{
  "name": "Auto Posting Scheduler",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -544,
        -192
      ],
      "id": "22d785d2-50c8-4741-92e7-648c824f935a",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "chatId": "5236753108",
        "text": "={{ $json.Content }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -544,
        64
      ],
      "id": "38081aae-df15-4362-9f10-e9b03a8cd668",
      "name": "Send a text message",
      "webhookId": "2e2f28da-1f5c-4de9-813f-da2439d17b79",
      "credentials": {
        "telegramApi": {
          "id": "3icByk6EDdmxscLt",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4239d6d1-5e0c-48f8-b8fc-9c233230435c",
              "name": "row_number",
              "value": "{{ $('Filter Ready Posts').item.json.row_number }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -64,
        64
      ],
      "id": "4ef25667-3533-4616-ac13-cbd1b4ca32c8",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "16aHsviFfzeAYw1gNkE4h2q8OXgy8t0d8cOl10nBzHFE",
          "mode": "list",
          "cachedResultName": "Salinan dari Auto Posting Scheduler",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16aHsviFfzeAYw1gNkE4h2q8OXgy8t0d8cOl10nBzHFE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16aHsviFfzeAYw1gNkE4h2q8OXgy8t0d8cOl10nBzHFE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $json.row_number }}",
            "Status": "pending",
            "Scheduled Date": "08/04/2026",
            "Scheduled Time": "07:00:00"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Content",
              "displayName": "Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Scheduled Date",
              "displayName": "Scheduled Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Scheduled Time",
              "displayName": "Scheduled Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        464,
        64
      ],
      "id": "2daa1bba-9716-4eda-b4c6-bc02c01bc098",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Gn4qrgljJ6BXK4Um",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst now = DateTime.now().setZone('Asia/Jakarta');\nconst postsToSend = [];\n\nfor (const item of items) {\n  const row = item.json;\n  const dateStr = row['Scheduled Date']; // Format: 11/02/2026\n  const timeStr = row['Scheduled Time']; // Format: 9:30:00\n\n  if (row.Status === 'pending' && dateStr && timeStr) {\n    // Pecah tanggal 11/02/2026\n    const [day, month, year] = dateStr.split('/');\n    \n    // Gabungkan jadi format yang dimengerti Luxon: 2026-02-11T09:30:00\n    const dateTimeString = `${year}-${month}-${day}T${timeStr}`;\n    \n    const scheduledTime = DateTime.fromISO(dateTimeString, { zone: 'Asia/Jakarta' });\n\n    if (scheduledTime.isValid && scheduledTime <= now) {\n      postsToSend.push(item);\n    }\n  }\n}\n\nreturn postsToSend;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        -192
      ],
      "id": "6683d6b2-e489-499e-beaa-cec2f9b2c2d9",
      "name": "Filter Ready Posts"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "16aHsviFfzeAYw1gNkE4h2q8OXgy8t0d8cOl10nBzHFE",
          "mode": "list",
          "cachedResultName": "Salinan dari Auto Posting Scheduler",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16aHsviFfzeAYw1gNkE4h2q8OXgy8t0d8cOl10nBzHFE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16aHsviFfzeAYw1gNkE4h2q8OXgy8t0d8cOl10nBzHFE/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -64,
        -192
      ],
      "id": "49d28db9-535d-4fd0-afa5-e3a77dab7964",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Gn4qrgljJ6BXK4Um",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Ready Posts": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Filter Ready Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "fa3a3d49-deb3-4626-93f6-60bd4afdf18f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "10d469df2fedb9163672ee5f517014ef276053389000881ecb7e96a36f121653"
  },
  "id": "QwFdAQq8D6M5yhKz",
  "tags": []
}