Pembuat Invoice Otomatis.json
{
  "name": "Pembuat Invoice Otomatis",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Pembuatan Invoice Otomatis",
        "formDescription": "Yoon Company",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Nama Klien",
              "requiredField": true
            },
            {
              "fieldLabel": "jam_kerja",
              "requiredField": true
            },
            {
              "fieldLabel": "rate_perjam",
              "requiredField": true
            },
            {
              "fieldLabel": "email_klien",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        -576,
        -64
      ],
      "id": "2c37a818-28b2-4f66-8036-2e89e4b55aea",
      "name": "On form submission",
      "webhookId": "ddabc5b2-95bd-4331-9165-80574594334c"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "07f61912-1834-416c-b25a-0b90e297c68e",
              "name": "Total Biaya",
              "value": "={{ \n  (Number($json[\"jam_kerja\"]) * Number($json[\"rate_perjam\"].replace(/\\./g, \"\"))).toLocaleString(\"id-ID\")\n}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -368,
        -64
      ],
      "id": "997baf88-22ef-401c-8b8b-a94e67d04d9c",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "html": "<!DOCTYPE html>\n<html lang=\"id\">\n<head>\n  <meta charset=\"UTF-8\">\n  <title>Invoice</title>\n  <style>\n    body {\n      font-family: Arial, Helvetica, sans-serif;\n      background: #f4f6f8;\n      padding: 40px;\n      color: #333;\n    }\n\n    .invoice-wrapper {\n      max-width: 800px;\n      margin: auto;\n      background: #ffffff;\n      border-radius: 8px;\n      padding: 40px;\n      box-shadow: 0 4px 12px rgba(0,0,0,0.08);\n    }\n\n    .invoice-header {\n      display: flex;\n      justify-content: space-between;\n      align-items: center;\n      border-bottom: 2px solid #eaeaea;\n      padding-bottom: 20px;\n      margin-bottom: 30px;\n    }\n\n    .invoice-header h1 {\n      margin: 0;\n      font-size: 28px;\n      color: #1f2937;\n      letter-spacing: 1px;\n    }\n\n    .invoice-meta {\n      text-align: right;\n      font-size: 14px;\n      color: #555;\n    }\n\n    .section {\n      margin-bottom: 30px;\n    }\n\n    .section-title {\n      font-size: 14px;\n      font-weight: bold;\n      color: #6b7280;\n      text-transform: uppercase;\n      margin-bottom: 8px;\n    }\n\n    .client-info p {\n      margin: 4px 0;\n      font-size: 15px;\n    }\n\n    table {\n      width: 100%;\n      border-collapse: collapse;\n      margin-top: 15px;\n    }\n\n    table thead th {\n      background: #f9fafb;\n      border-bottom: 2px solid #e5e7eb;\n      padding: 12px;\n      text-align: left;\n      font-size: 14px;\n    }\n\n    table tbody td {\n      padding: 12px;\n      border-bottom: 1px solid #e5e7eb;\n      font-size: 14px;\n    }\n\n    table th:nth-child(2),\n    table th:nth-child(3),\n    table th:nth-child(4),\n    table td:nth-child(2),\n    table td:nth-child(3),\n    table td:nth-child(4) {\n      text-align: right;\n    }\n\n    .total-box {\n      margin-top: 30px;\n      display: flex;\n      justify-content: flex-end;\n    }\n\n    .total-box table {\n      width: 300px;\n    }\n\n    .total-box td {\n      padding: 10px;\n      font-size: 15px;\n    }\n\n    .total-box tr:last-child td {\n      font-weight: bold;\n      font-size: 18px;\n      border-top: 2px solid #111827;\n    }\n\n    .footer {\n      margin-top: 50px;\n      font-size: 13px;\n      color: #6b7280;\n      text-align: center;\n    }\n  </style>\n</head>\n\n<body>\n  <div class=\"invoice-wrapper\">\n\n    <!-- HEADER -->\n    <div class=\"invoice-header\">\n      <h1>INVOICE</h1>\n      <div class=\"invoice-meta\">\n        <div>Tanggal: {{ $now }}</div>\n        <div>Invoice #: INV-{{ $execution.id }}</div>\n      </div>\n    </div>\n\n    <!-- CLIENT INFO -->\n    <div class=\"section client-info\">\n      <div class=\"section-title\">Ditagihkan Kepada</div>\n      <p><strong>{{ $('On form submission').item.json['Nama Klien'] }}</strong></p>\n      <p>{{ $('On form submission').item.json['Email Klien'] }}</p>\n    </div>\n\n    <!-- DETAIL TABLE -->\n    <div class=\"section\">\n      <div class=\"section-title\">Detail Pekerjaan</div>\n\n      <table>\n        <thead>\n          <tr>\n            <th>Deskripsi</th>\n            <th>Jam</th>\n            <th>Rate</th>\n            <th>Subtotal</th>\n          </tr>\n        </thead>\n        <tbody>\n          <tr>\n            <td>Jasa Pekerjaan / Konsultasi</td>\n            <td>{{ $('On form submission').item.json['Jam Kerja'] }}</td>\n            <td>{{ $('On form submission').item.json['Rate'] }}</td>\n            <td>{{ $json['Total Biaya'] }}</td>\n          </tr>\n        </tbody>\n      </table>\n    </div>\n\n    <!-- TOTAL -->\n    <div class=\"total-box\">\n      <table>\n        <tr>\n          <td>Total Tagihan</td>\n          <td style=\"text-align:right;\">\n            Rp {{ $json['Total Biaya'] }}\n          </td>\n        </tr>\n      </table>\n    </div>\n\n    <!-- FOOTER -->\n    <div class=\"footer\">\n      Invoice ini dibuat secara otomatis.<br>\n      Terima kasih atas kepercayaan Anda.\n    </div>\n\n  </div>\n</body>\n</html>"
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        -160,
        -64
      ],
      "id": "f4414c9c-1183-4a41-a904-a5eb21d1412f",
      "name": "HTML"
    },
    {
      "parameters": {
        "url": "={{ $json.pdf_url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        304,
        -64
      ],
      "id": "f2d9fcd8-a81b-4481-9404-784cfad2cee4",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "sendTo": "={{ $('On form submission').item.json['email_klien'] }}",
        "subject": "=Invoice dari Yoon Company untuk {{ $('On form submission').item.json['email_klien'] }}",
        "message": "=<p>Yth. <strong>{{ $('On form submission').item.json['Nama Klien'] }}</strong>,</p>\n\n<p>Terima kasih atas kepercayaan Anda telah menggunakan jasa kami.<br>\nBersama email ini, kami lampirkan invoice untuk pekerjaan yang telah diselesaikan.</p>\n\n<p>Berikut adalah ringkasan singkat tagihan Anda:</p>\n<ul>\n    <li><strong>Total Jam Kerja:</strong> {{ $('On form submission').item.json['jam_kerja'] }} jam</li>\n    <li><strong>Total Tagihan:</strong> {{ $('Edit Fields').item.json['Total Biaya'] }}</li>\n    <li><strong>Jatuh Tempo:</strong> 14 hari</li>\n</ul>\n\n<p>Detail lengkap, termasuk rincian pekerjaan dan instruksi pembayaran, dapat Anda temukan pada file PDF yang terlampir.</p>\n\n<blockquote style=\"border-left: 4px solid #ccc; padding-left: 15px; margin-left: 0; font-style: italic;\">\n    <strong>Catatan Keamanan:</strong> Untuk melindungi Anda, kami tidak akan pernah meminta informasi password atau data sensitif melalui email. Harap lakukan pembayaran hanya ke nomor rekening resmi yang tertera di dalam invoice PDF.\n</blockquote>\n\n<p>Jika ada pertanyaan lebih lanjut, jangan ragu untuk membalas email ini.</p>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        560,
        -64
      ],
      "id": "ea9c317f-96de-485f-bd5d-8c79cba7f48d",
      "name": "Send a message",
      "webhookId": "4a6e67c2-de06-4239-931f-c80d6e478b70",
      "credentials": {
        "gmailOAuth2": {
          "id": "OjROrTFPdg5zhnwh",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "html_content": "={{ $json.html }}"
      },
      "type": "n8n-nodes-htmlcsstopdf.htmlcsstopdf",
      "typeVersion": 1,
      "position": [
        48,
        -64
      ],
      "id": "7e700b40-6123-41b8-9dd5-e6df35b4c878",
      "name": "Convert HTML to PDF",
      "credentials": {
        "htmlcsstopdfApi": {
          "id": "wmw2CfJ8SCLwitMx",
          "name": "HTML to PDF account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "Convert HTML to PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert HTML to PDF": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "d008dee7-64e5-405d-8fa6-23d2824b4e32",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "10d469df2fedb9163672ee5f517014ef276053389000881ecb7e96a36f121653"
  },
  "id": "DsYaEd1EtCAFe14C",
  "tags": []
}