Pembuatan Konten Rutin.json
{
  "name": "Pembuatan Konten Rutin",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -208,
        -48
      ],
      "id": "0b7bd5f6-c55d-48f5-aebe-42d88e7d9b5f",
      "name": "Telegram Trigger",
      "webhookId": "96e8e1b8-d94c-4645-84d6-b882653c128f",
      "credentials": {
        "telegramApi": {
          "id": "3icByk6EDdmxscLt",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/start",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "f86ff5c3-b752-4a8e-8732-4f3370b351ba"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "dab1a16a-d712-4e61-a541-cba94115e9ed",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "Title",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "cc1b84e3-68f2-4989-b41f-01098009c329",
                    "leftValue": "={{ $json.message.caption }}",
                    "rightValue": "video",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        320,
        -176
      ],
      "id": "15d624ea-b801-480c-a918-5d4186812752",
      "name": "Switch"
    },
    {
      "parameters": {
        "chatId": "5236753108",
        "text": "={{ $json.message.text }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        48,
        64
      ],
      "id": "8f7bb225-8a4f-4cc5-ad17-811ded6af199",
      "name": "Respon Cepat",
      "webhookId": "0dd5b747-7942-446a-9c47-7b9b24cf319e",
      "credentials": {
        "telegramApi": {
          "id": "3icByk6EDdmxscLt",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "dd71e09a-ce13-49e4-bc24-edb718bb3bf6",
              "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
              "rightValue": "/start",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        608,
        -576
      ],
      "id": "c693f41e-4a76-4c02-b6b5-b3f18184aba6",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.photo[0].file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        624,
        144
      ],
      "id": "c10b90c0-dee2-4e8b-b943-4dd1b3919c08",
      "name": "Get a file",
      "webhookId": "65218304-e6af-42a8-b965-1447c3d8dbb9",
      "credentials": {
        "telegramApi": {
          "id": "3icByk6EDdmxscLt",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "Harap ketik /start untuk memulai",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        768,
        -752
      ],
      "id": "353af65e-6fda-40ca-836b-ca43853fcd01",
      "name": "Format Salah (False)",
      "webhookId": "154e38f3-491b-419a-a221-c1fb0cf783f8",
      "credentials": {
        "telegramApi": {
          "id": "3icByk6EDdmxscLt",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "069d5e4a-2a1e-42ef-96cf-dac52b0ed475",
              "name": "Tanggal",
              "value": "={{ $json['Readable date'] }}",
              "type": "string"
            },
            {
              "id": "fc21e998-5cfa-40bf-9c91-5975f603bc35",
              "name": "tema",
              "value": "Teknologi & Produktivitas",
              "type": "string"
            },
            {
              "id": "ed11f0cd-29c7-4d23-a440-799eccf63dd0",
              "name": "waktu",
              "value": "={{ $json['Readable time'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        848,
        -592
      ],
      "id": "1a87cc81-924b-4bfd-a9d0-b11f03fc8000",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Buat rencana konten harian untuk {{ $json.tanggal }} dengan tema  {{ $json.tema }} \n\nSaya mau Anda buatnya dalam bentuk nomor atau point.\n",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        1040,
        -656
      ],
      "id": "7b116282-6402-4cf5-8745-74bee148ee26",
      "name": "Membuat Ide Konten",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "jsonSchemaExample": "[\n  {\n    \"time_slot\": \"\",\n    \"title\": \"\",\n    \"platforms\": [],\n    \"focus\": \"\",\n    \"ideas\": []\n  }\n]"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1088,
        -384
      ],
      "id": "9043c1d8-50c8-462c-95ce-13ec0e5bb35f",
      "name": "Output LLM"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d60bc391-5380-4554-bfe4-430d86b38e9e",
              "name": "time_slot",
              "value": "={{ $json.output[0].time_slot }}",
              "type": "string"
            },
            {
              "id": "fc2ca036-873b-4508-83d1-4bb2332eadc7",
              "name": "title",
              "value": "={{ $json.output[0].title }}",
              "type": "string"
            },
            {
              "id": "d7754a3c-4a6b-4cbd-ad68-7513a1440825",
              "name": "platforms",
              "value": "={{ $json.output[0].platforms }}",
              "type": "string"
            },
            {
              "id": "1bb8db61-d574-478c-8aa3-034ab9a54d4d",
              "name": "focus",
              "value": "={{ $json.output[0].focus }}",
              "type": "string"
            },
            {
              "id": "cc02a337-0d21-48e1-beeb-bafbfe45c9da",
              "name": "ideas",
              "value": "={{ $json.output[0].ideas }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1536,
        -896
      ],
      "id": "ffa19a43-2d64-4f48-9843-080031b25a1e",
      "name": "Output 1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f49e8d44-a3e1-43e4-bba6-133ffe590126",
              "name": "time_slot",
              "value": "={{ $json.output[1].time_slot }}",
              "type": "string"
            },
            {
              "id": "688fe62c-98d9-4b7d-a070-c4920926bf1d",
              "name": "title",
              "value": "={{ $json.output[1].title }}",
              "type": "string"
            },
            {
              "id": "5d3d2bc2-1ccf-4f71-9217-251ed4b80742",
              "name": "platforms",
              "value": "={{ $json.output[1].platforms }}",
              "type": "string"
            },
            {
              "id": "9005943b-58a7-49fd-8bf4-8e69eb9724be",
              "name": "focus",
              "value": "={{ $json.output[1].focus }}",
              "type": "string"
            },
            {
              "id": "5358b06a-7bfe-440a-bcc0-150d58c661cc",
              "name": "ideas",
              "value": "={{ $json.output[1].ideas }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1536,
        -736
      ],
      "id": "1d05645f-c351-495d-9aea-61f1d03d3ed9",
      "name": "Output 2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d113c735-bb14-4919-b2f6-3956b25a75a6",
              "name": "time_slot",
              "value": "={{ $json.output[2].time_slot }}",
              "type": "string"
            },
            {
              "id": "84be1d51-dec7-420a-b66e-25f780e537b3",
              "name": "title",
              "value": "={{ $json.output[2].title }}",
              "type": "string"
            },
            {
              "id": "2b25fb7e-6359-477d-bac4-167509cba9e4",
              "name": "platforms",
              "value": "={{ $json.output[2].platforms }}",
              "type": "string"
            },
            {
              "id": "7b413c9b-8fd9-4070-bff7-2b1e4f34613a",
              "name": "focus",
              "value": "={{ $json.output[2].focus }}",
              "type": "string"
            },
            {
              "id": "21c76a00-17dc-46ad-ab54-bcc6cd0f0705",
              "name": "ideas",
              "value": "={{ $json.output[2].ideas }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1536,
        -576
      ],
      "id": "aa3059b5-e9a1-4a11-a521-4d7455174a20",
      "name": "Output 3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6110d144-c788-4d4f-a462-5add3c5600fb",
              "name": "time_slot",
              "value": "={{ $json.output[3].time_slot }}",
              "type": "string"
            },
            {
              "id": "25709b72-3b14-43a4-909b-4843d493b22a",
              "name": "title",
              "value": "={{ $json.output[3].title }}",
              "type": "string"
            },
            {
              "id": "d20071e6-f863-4d72-8d09-cc0051e4f6d8",
              "name": "platforms",
              "value": "={{ $json.output[3].platforms }}",
              "type": "string"
            },
            {
              "id": "5139a5fa-41c6-40f7-b754-22ca50f9ba46",
              "name": "focus",
              "value": "={{ $json.output[3].focus }}",
              "type": "string"
            },
            {
              "id": "e89c596c-fd99-489a-b551-a3df8f636e9d",
              "name": "ideas",
              "value": "={{ $json.output[3].ideas }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1536,
        -416
      ],
      "id": "533d8384-962c-40ee-b6da-b6c04848727a",
      "name": "Output 4"
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1856,
        -704
      ],
      "id": "9559b1a1-fda6-4f8c-8a6e-6cd86fec19a2",
      "name": "Merge"
    },
    {
      "parameters": {
        "chatId": "5236753108",
        "text": "=Title: {{ $json.title }}\n\nPlatform: {{ $json.platforms }}\n\nIde: {{ $json.ideas }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2048,
        -672
      ],
      "id": "f294fde3-13ff-4788-8238-08fd66ba05e4",
      "name": "Kirim Ide ke Tim",
      "webhookId": "1c6ddb96-271b-4bf5-bc7c-b7e5d8ca896c",
      "credentials": {
        "telegramApi": {
          "id": "3icByk6EDdmxscLt",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Proses Pembuatan Ide Konten",
        "height": 672,
        "width": 1712,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        544,
        -928
      ],
      "typeVersion": 1,
      "id": "ff8e218a-22a0-419b-bab2-862de9b304f3",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        832,
        -160
      ],
      "id": "e2344a2f-4578-450c-a182-144d8cba49ff",
      "name": "Kirim Gambar",
      "webhookId": "cee88fa7-4607-42c9-8f45-18b620d6d177",
      "credentials": {
        "telegramApi": {
          "id": "3icByk6EDdmxscLt",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Proses membuat gambar berdasarkan ide yang dipilih\n",
        "height": 256,
        "width": 656,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        544,
        -224
      ],
      "typeVersion": 1,
      "id": "80bd04f8-5559-4cfd-8e93-638952cb204f",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        832,
        144
      ],
      "id": "e92f8630-bdaf-42af-972a-d188e9c2633b",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "text": "Analyze the image and generate a detailed, cinematic video prompt suitable for Google VEO-3.1. Include:\n- Subject and action (e.g., \"a cat jumping on a sofa\")\n- Setting and background\n- Time of day, lighting, mood\n- Camera movement (e.g., slow zoom, tracking shot)\n- Visual style (e.g., photorealistic, cartoon, cinematic)\n\nKeep it concise (1–2 sentences). Output ONLY the prompt text, no explanation.",
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        1264,
        144
      ],
      "id": "1b6add82-fb92-40e8-999d-5213089d3145",
      "name": "Analyze an image",
      "credentials": {
        "googlePalmApi": {
          "id": "vlDdBybpfqt4l9Rt",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "resource": "video",
        "modelId": {
          "__rl": true,
          "value": "models/veo-3.1-generate-preview",
          "mode": "list",
          "cachedResultName": "models/veo-3.1-generate-preview"
        },
        "prompt": "={{ $json.content.parts[0].text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        1472,
        144
      ],
      "id": "de843853-e5f3-4e3d-8c71-6784cd99840a",
      "name": "Generate a video",
      "credentials": {
        "googlePalmApi": {
          "id": "vlDdBybpfqt4l9Rt",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendVideo",
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1680,
        144
      ],
      "id": "c98f2592-d9c0-42fd-8e07-8100faa1d6c2",
      "name": "Send a video",
      "webhookId": "4665ea9f-2e7d-4d56-b921-17a7d0e526ef",
      "credentials": {
        "telegramApi": {
          "id": "3icByk6EDdmxscLt",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Proses membuat video berdasarkan gambar yang dikirim pada langkah diatas",
        "height": 224,
        "width": 1360,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        544,
        80
      ],
      "typeVersion": 1,
      "id": "cb7ec233-4281-436b-a188-0d384e0399cc",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "jsCode": "items.forEach(item => {\n  // Pastikan item memiliki field 'data' berupa string base64\n  if (item.json && item.json.data) {\n    const base64String = item.json.data;\n    \n    // Konversi string base64 ke Buffer (binary)\n    const buffer = Buffer.from(base64String, 'base64');\n    \n    // Buat properti binary baru\n    item.binary = {\n      data: {\n        data: buffer,\n        fileName: 'image.jpg', // Ganti sesuai ekstensi asli jika perlu\n        mimeType: 'image/jpeg'\n      }\n    };\n  }\n});\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1056,
        144
      ],
      "id": "0624b4ba-3623-4ba4-8dbd-f4c221be160e",
      "name": "base64 to binary"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        944,
        -384
      ],
      "id": "3dcc3335-e59d-49e7-9f4f-29e458510eec",
      "name": "2.5 flash",
      "credentials": {
        "googlePalmApi": {
          "id": "k2ft0Aur9xqmzo3g",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "modelId": {
          "__rl": true,
          "value": "models/imagen-4.0-ultra-generate-001",
          "mode": "list",
          "cachedResultName": "models/imagen-4.0-ultra-generate-001"
        },
        "prompt": "={{ $('Telegram Trigger').item.json.message.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        592,
        -160
      ],
      "id": "89bcb082-e7b5-4f1b-8b04-227d1ac1ebe0",
      "name": "Generate an image",
      "credentials": {
        "googlePalmApi": {
          "id": "vlDdBybpfqt4l9Rt",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respon Cepat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate an image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Salah (False)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Membuat Ide Konten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Output LLM": {
      "ai_outputParser": [
        [
          {
            "node": "Membuat Ide Konten",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Membuat Ide Konten": {
      "main": [
        [
          {
            "node": "Output 1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Output 2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Output 3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Output 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Output 1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Output 2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Output 3": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Output 4": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Kirim Ide ke Tim",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "base64 to binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze an image": {
      "main": [
        [
          {
            "node": "Generate a video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate a video": {
      "main": [
        [
          {
            "node": "Send a video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "base64 to binary": {
      "main": [
        [
          {
            "node": "Analyze an image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2.5 flash": {
      "ai_languageModel": [
        [
          {
            "node": "Membuat Ide Konten",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Generate an image": {
      "main": [
        [
          {
            "node": "Kirim Gambar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "e3f90bba-95dc-4ea1-99d4-a87d66a5c94e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "10d469df2fedb9163672ee5f517014ef276053389000881ecb7e96a36f121653"
  },
  "id": "tcWuPy8l6jA6IOoN",
  "tags": []
}