Pencatat Pengeluaran Dari Email.json
{
  "name": "Pencatat Pengeluaran Dari Email",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2.1,
      "position": [
        -928,
        -400
      ],
      "id": "bdb87a7c-36bd-4792-af43-836dae9c6be9",
      "name": "Menunggu dan Mengambil Email Baru",
      "credentials": {
        "imap": {
          "id": "ug8X1h3lpj66LES2",
          "name": "IMAP account"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        96,
        -416
      ],
      "id": "e232ef05-120c-4867-9522-f7b88c639779",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1O1JAuD9mRvkn-F77L1TLcLmUU8IHPVF_PsCz_dvl0GU",
          "mode": "list",
          "cachedResultName": "Pencatat Keuangan Dari Email",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1O1JAuD9mRvkn-F77L1TLcLmUU8IHPVF_PsCz_dvl0GU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1O1JAuD9mRvkn-F77L1TLcLmUU8IHPVF_PsCz_dvl0GU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Tanggal": "={{ $json.Tanggal }}",
            "Kolom": "={{ $json.Jumlah }}",
            "Nominal": "={{ $json.Nominal }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Tanggal",
              "displayName": "Tanggal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Kolom",
              "displayName": "Kolom",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nominal",
              "displayName": "Nominal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        352,
        -400
      ],
      "id": "be3455fe-d490-4bd9-8265-a56d23b65896",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Rlsl9sCRN6JiswnJ",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.from }}",
                    "rightValue": "aisyahnf2899@gmail.com",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "8980367e-3a33-4efb-8aa7-bb95d64f176a"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "IDCloudHost"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "ebd2b0fc-60a6-465a-ab97-d3bb15fc82ec",
                    "leftValue": "={{ $json.from }}",
                    "rightValue": "aisy23172ti@student.nurulfikri.ac.id",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Grab"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "f355423a-bf27-4147-86da-03c1c34c868c",
                    "leftValue": "={{ $json.from }}",
                    "rightValue": "dzulkarnainagam@gmail.com",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Tokopedia"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -720,
        -416
      ],
      "id": "5cca4181-f361-41e9-b7c6-b04f25d48d4b",
      "name": "Memeriksa Email"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "95130393-8e91-4117-bf32-fdbbd1eb204d",
              "name": "Tanggal",
              "value": "={{ $('Menunggu dan Mengambil Email Baru').item.json.date }}",
              "type": "string"
            },
            {
              "id": "957b90f0-5d02-4909-8f20-865f53c59f62",
              "name": "Jumlah",
              "value": "={{ $json.textPlain.match(/Total.*?Rp\\s*([\\d\\.]+)/s)?.[1].replace(/\\./g, '') }}",
              "type": "string"
            },
            {
              "id": "e42e83af-5b39-4b00-a58f-79428206e450",
              "name": "Nominal",
              "value": "Cloud",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -304,
        -560
      ],
      "id": "a234a1c2-fee9-4237-ab8b-a8886ef9d420",
      "name": "IDCoudlHost"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c02bd63b-d3fc-46eb-ab4f-de083f1ebd09",
              "name": "Tanggal",
              "value": "={{ $json.date }}",
              "type": "string"
            },
            {
              "id": "0e703acf-ed73-4c75-903f-ce3ba1209445",
              "name": "Jumlah",
              "value": "={{ $json.textPlain.match(/Total Tarif.*?([\\d\\.]+)/s)?.[1].replace(/\\./g, '') }}",
              "type": "string"
            },
            {
              "id": "d5e9e13e-9f1b-4485-85a8-ab8eb6547114",
              "name": "Nominal",
              "value": "Grab",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -304,
        -400
      ],
      "id": "a914d1bc-e9db-4793-9eea-a14ea62d3fff",
      "name": "Grab"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "56f4a02f-21db-4b06-9e32-ddde9b749ce8",
              "name": "Tanggal",
              "value": "={{ $json.date }}",
              "type": "string"
            },
            {
              "id": "27e5e72c-db16-458b-a56a-3bcd7e334a59",
              "name": "Jumlah",
              "value": "={{ $json.textPlain.match(/Harga\\s*Rp\\s*([\\d\\.]+)/)?.[1].replace(/\\./g, '') }}",
              "type": "string"
            },
            {
              "id": "9964f907-39de-41aa-8956-47db23285f08",
              "name": "Nominal",
              "value": "={{ $json.textPlain.match(/Nominal\\s*(.*?)\\s*Waktu/s)?.[1].trim() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -304,
        -256
      ],
      "id": "647858a2-0659-4cfb-8973-f7ecc2975cf2",
      "name": "Tokopedia"
    }
  ],
  "pinData": {},
  "connections": {
    "Menunggu dan Mengambil Email Baru": {
      "main": [
        [
          {
            "node": "Memeriksa Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Memeriksa Email": {
      "main": [
        [
          {
            "node": "IDCoudlHost",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Grab",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tokopedia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IDCoudlHost": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Grab": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Tokopedia": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "3df66779-c46d-4580-94bd-0f09d3ab6837",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "10d469df2fedb9163672ee5f517014ef276053389000881ecb7e96a36f121653"
  },
  "id": "uV86HsoheNDRDS5O",
  "tags": []
}