Peringkas Berita Keuangan Harian.json
{
  "name": "Peringkas Berita Keuangan Harian",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -496,
        -432
      ],
      "id": "a974ccbe-0c28-4337-b8a3-7f2648107b2c",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        0,
        -144
      ],
      "id": "58516557-cbff-4e00-8ac0-e2cd323ffac8",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": "xiaomi/mimo-v2-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        224,
        16
      ],
      "id": "73e00434-021f-42dd-9235-9af3342f0380",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "xd4WJwluQZBgYwvw",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "5236753108",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        352,
        -144
      ],
      "id": "1683c692-f9a3-4f5a-af4e-cb9a9d7519ce",
      "name": "Send a text message",
      "webhookId": "d34c8838-2458-4641-b1ec-ddd6ad45e569",
      "credentials": {
        "telegramApi": {
          "id": "3icByk6EDdmxscLt",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://www.cnbcindonesia.com/market/rss",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -240,
        -608
      ],
      "id": "bc973fd4-8ab4-4d40-bf68-cab6ab122962",
      "name": "CNBC Indonesia RSS"
    },
    {
      "parameters": {
        "url": "https://finance.detik.com/rss",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -240,
        -432
      ],
      "id": "b1aebd5c-e7b6-4501-adcb-7255d447b914",
      "name": "Finance Detik RSS"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "text",
              "cssSelector": "body"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        -496,
        -144
      ],
      "id": "85b870fb-c539-4c02-b195-2f6e01bc75d2",
      "name": "Clean Code HTML dan Ekstrak"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        16,
        -448
      ],
      "id": "7a7266b1-6239-4287-8c77-d7c1eb4f3bf9",
      "name": "Menggabungkan 2 Output RSS"
    },
    {
      "parameters": {
        "maxItems": 10
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        224,
        -448
      ],
      "id": "0bbe840b-3ccc-471c-be6f-0805f8ab38ac",
      "name": "Membatasi hanya 10"
    },
    {
      "parameters": {
        "url": "={{ $json.link }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        432,
        -448
      ],
      "id": "fb24db08-04fb-4fea-b223-e00d6aa8d0bf",
      "name": "Unduh halaman web dari setiap URL"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "text"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -240,
        -144
      ],
      "id": "4b6f0bf1-c5fc-4ed5-8a94-d5d7b4ac85d7",
      "name": "Menggabungkan menjadi 1 blok teks besar"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "CNBC Indonesia RSS",
            "type": "main",
            "index": 0
          },
          {
            "node": "Finance Detik RSS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CNBC Indonesia RSS": {
      "main": [
        [
          {
            "node": "Menggabungkan 2 Output RSS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finance Detik RSS": {
      "main": [
        [
          {
            "node": "Menggabungkan 2 Output RSS",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Clean Code HTML dan Ekstrak": {
      "main": [
        [
          {
            "node": "Menggabungkan menjadi 1 blok teks besar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Menggabungkan 2 Output RSS": {
      "main": [
        [
          {
            "node": "Membatasi hanya 10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Membatasi hanya 10": {
      "main": [
        [
          {
            "node": "Unduh halaman web dari setiap URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unduh halaman web dari setiap URL": {
      "main": [
        [
          {
            "node": "Clean Code HTML dan Ekstrak",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Menggabungkan menjadi 1 blok teks besar": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "6d72510e-dd14-4b9d-9934-4b6f2d77f40d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "10d469df2fedb9163672ee5f517014ef276053389000881ecb7e96a36f121653"
  },
  "id": "JPywDOlWiYUqurgg",
  "tags": []
}