Rekonsiliasi Otomatis.json
{
  "name": "Rekonsiliasi Otomatis",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 17
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -448,
        -192
      ],
      "id": "83234365-a81f-475c-8030-021dcd9406f8",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        352,
        -320
      ],
      "id": "dbf67eca-6223-4a38-a2c1-d475aedf90b2",
      "name": "Merge"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1H0GOkWrIvZ66zQ-D3F6HPRVe1j0uQfaRVt5AXDlnA08",
          "mode": "list",
          "cachedResultName": "Salinan dari Dummy Rekonsiliasi",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1H0GOkWrIvZ66zQ-D3F6HPRVe1j0uQfaRVt5AXDlnA08/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1H0GOkWrIvZ66zQ-D3F6HPRVe1j0uQfaRVt5AXDlnA08/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -256,
        -336
      ],
      "id": "8e7205e3-e5f7-4415-9cb7-7116ce81a301",
      "name": "Data Internal",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Rlsl9sCRN6JiswnJ",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// CODE NODE: CLEAN INTERNAL DATA (VERSI FIX)\nconst results = [];\n\nfor (const item of $input.all()) {\n  const json = item.json;\n\n  // 1. Ambil Tanggal & Format ke YYYY-MM-DD\n  const rawDate = (json['Tanggal Transaksi'] || '').toString().trim();\n  const dateParts = rawDate.split('/');\n  \n  // Jika format tanggal salah/kosong, skip baris ini\n  if (dateParts.length !== 3) continue;\n  \n  const cleanDate = `${dateParts[2]}-${dateParts[1]}-${dateParts[0]}`;\n\n  // 2. Ambil Nominal & Hapus karakter non-angka (Rp, titik, koma)\n  const rawAmount = (json['Jumlah (IDR)'] || '0').toString();\n  const cleanAmount = parseInt(rawAmount.replace(/[^0-9]/g, ''));\n\n  // 3. Buat Match Key untuk pencocokan\n  const matchKey = `${cleanDate}_${cleanAmount}`;\n\n  results.push({\n    json: {\n      ...json,\n      clean_date: cleanDate,\n      clean_amount: cleanAmount,\n      match_key: matchKey,\n      sumber: 'Internal'\n    }\n  });\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -48,
        -336
      ],
      "id": "bbbfff61-2c97-400b-ab8a-bab0fc06ee0a",
      "name": "Filter Baris"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1qS0IvLGetMSQ_aGl83J_ujIWUUa-ZxXj",
          "mode": "list",
          "cachedResultName": "Dummy Rekonsiliasi - Sheet2.csv",
          "cachedResultUrl": "https://drive.google.com/file/d/1qS0IvLGetMSQ_aGl83J_ujIWUUa-ZxXj/view?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -240,
        -64
      ],
      "id": "4d21f354-8c83-4fc3-8710-c07c812755fa",
      "name": "Data Bank",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "PZNe6YDmn9xOwhzy",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -32,
        -64
      ],
      "id": "7f2c01bc-a0b6-49eb-98a4-b6ba50f6505f",
      "name": "Mengubah File Binary"
    },
    {
      "parameters": {
        "jsCode": "// CODE NODE: CLEAN BANK DATA (REVISI)\nconst results = [];\n\nfor (const item of $input.all()) {\n  const json = item.json;\n\n  // 1. Bersihkan Tanggal\n  const rawDate = (json['Tanggal Bank'] || '').toString().trim();\n  const dateParts = rawDate.split('/');\n  if (dateParts.length !== 3) continue;\n\n  const cleanDate = `${dateParts[2]}-${dateParts[1]}-${dateParts[0]}`;\n\n  // 2. PENTING: Bersihkan Angka (Hapus titik ribuan Rupiah)\n  const rawAmount = (json['Jumlah (IDR)'] || '0').toString();\n  // Regex ini menghapus apa saja yang bukan angka (termasuk titik/koma)\n  const cleanAmount = parseInt(rawAmount.replace(/[^0-9]/g, ''));\n\n  // 3. Buat Match Key\n  const matchKey = `${cleanDate}_${cleanAmount}`;\n\n  results.push({\n    json: {\n      ...json,\n      clean_date: cleanDate,\n      clean_amount: cleanAmount,\n      match_key: matchKey,\n      sumber: 'Bank'\n    }\n  });\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        176,
        -64
      ],
      "id": "c677aed3-b8db-415e-81d3-eab03cce220d",
      "name": "Clean Bank Data"
    },
    {
      "parameters": {
        "jsCode": "// CODE NODE: ANALISA REKONSILIASI LENGKAP (tanpa Union)\nconst items = $input.all();\nconst grouped = {};\n\n// 1. Group by match_key\nfor (const item of items) {\n  const key = item.json.match_key;\n  if (!grouped[key]) {\n    grouped[key] = { sources: [], details: [] };\n  }\n  grouped[key].sources.push(item.json.sumber);\n  grouped[key].details.push(item.json);\n}\n\n// 2. Bangun hasil analisa\nconst results = [];\nfor (const [key, group] of Object.entries(grouped)) {\n  const hasInternal = group.sources.includes('Internal');\n  const hasBank = group.sources.includes('Bank');\n\n  let status, pesan, priority;\n  if (hasInternal && hasBank) {\n    status = 'MATCHED';\n    pesan = '✅ Data klop (Cocok).';\n    priority = 'Low';\n  } else if (hasInternal && !hasBank) {\n    status = 'MISSING IN BANK';\n    pesan = '⚠️ Tercatat di Internal, tapi tidak ada di Bank.';\n    priority = 'High';\n  } else if (!hasInternal && hasBank) {\n    status = 'UNRECORDED INTERNAL';\n    pesan = '⚠️ Ada di Bank, tapi tidak tercatat di Internal.';\n    priority = 'Medium';\n  }\n\n  const internal = group.details.find(d => d.sumber === 'Internal');\n  const bank = group.details.find(d => d.sumber === 'Bank');\n  const refDate = (internal || bank)?.clean_date;\n  const amount = (internal || bank)?.clean_amount;\n\n  results.push({\n    json: {\n      Tanggal: refDate,\n      Nominal: amount,\n      Status: status,\n      Pesan: pesan,\n      Prioritas: priority,\n      Internal_ID: internal?.['ID Referensi'] || 'N/A',\n      Bank_ID: bank?.['ID Transaksi Bank'] || 'N/A',\n      Deskripsi: internal?.Deskripsi || bank?.['Deskripsi Transaksi'] || '-',\n      Match_Key: key,\n      Sources: group.sources.join(' + ')\n    }\n  });\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        -320
      ],
      "id": "9d540f85-e432-4aaf-a1af-73bbbf8c90fa",
      "name": "Analisa Status"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ca1ffdc3-6859-47e3-badd-176d24d49b1c",
              "leftValue": "={{ $json.status }}",
              "rightValue": "MATCHED",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        768,
        -320
      ],
      "id": "fb5acff4-bab8-4bba-9af5-c1ce27ae21ea",
      "name": "Cek Status Match"
    },
    {
      "parameters": {
        "chatId": "5236753108",
        "text": "=🚨 **LAPORAN SELISIH KEUANGAN**  📅 Tanggal: {{ $json.Tanggal }} 💰 Nominal: Rp {{ $json.Nominal }}  ⚠️ **Status: {{ $json.Status }}** 📝 Ket: {{ $json.Pesan }}  🔍 Ref Internal: {{ $json.Internal_ID }} 🏦 Ref Bank: {{ $json.Bank_ID }} ℹ️ Desc: {{ $json.Deskripsi }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1008,
        -432
      ],
      "id": "da88951e-e6a4-4262-8cb8-0c175477adbc",
      "name": "Kirim Laporan Data Cocok",
      "webhookId": "a01fb3f0-7a2e-4e95-9238-8f9d5ae95cfe",
      "credentials": {
        "telegramApi": {
          "id": "3icByk6EDdmxscLt",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1024,
        -208
      ],
      "id": "6d284fc6-3f85-42f0-8263-a34cb1772fb1",
      "name": "Tunggu 5 Menit",
      "webhookId": "1a333f79-595d-43be-8842-6f9eb3eab0db"
    },
    {
      "parameters": {
        "chatId": "5236753108",
        "text": "=🚨 **LAPORAN SELISIH KEUANGAN**  📅 Tanggal: {{ $json.Tanggal }} 💰 Nominal: Rp {{ $json.Nominal }}  ⚠️ **Status: {{ $json.Status }}** 📝 Ket: {{ $json.Pesan }}  🔍 Ref Internal: {{ $json.Internal_ID }} 🏦 Ref Bank: {{ $json.Bank_ID }} ℹ️ Desc: {{ $json.Deskripsi }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1232,
        -208
      ],
      "id": "61935e79-0cd9-4128-adf8-482c822813be",
      "name": "Kirim Laporan Data Tidak Cocok",
      "webhookId": "2589db20-db54-438b-8c44-14b22e884c8a",
      "credentials": {
        "telegramApi": {
          "id": "3icByk6EDdmxscLt",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Data Internal",
            "type": "main",
            "index": 0
          },
          {
            "node": "Data Bank",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Analisa Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Internal": {
      "main": [
        [
          {
            "node": "Filter Baris",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Baris": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Bank": {
      "main": [
        [
          {
            "node": "Mengubah File Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mengubah File Binary": {
      "main": [
        [
          {
            "node": "Clean Bank Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Bank Data": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Analisa Status": {
      "main": [
        [
          {
            "node": "Cek Status Match",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cek Status Match": {
      "main": [
        [
          {
            "node": "Kirim Laporan Data Cocok",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tunggu 5 Menit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tunggu 5 Menit": {
      "main": [
        [
          {
            "node": "Kirim Laporan Data Tidak Cocok",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "2e6c1733-3c4e-4d2e-8f05-9a0045bd3b36",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "10d469df2fedb9163672ee5f517014ef276053389000881ecb7e96a36f121653"
  },
  "id": "AzTvQksiry5JJ7GA",
  "tags": []
}